@media (min-width: 0px){
    .log {
        width: 90%;
        background-color: #333c5b;
        border-radius: 0.5em;
    }
}

@media (min-width: 768px){
    .log {
        width: 50%;
        background-color: #333c5b;
        border-radius: 0.5em;
        box-shadow: 0px 0px 11px 4px rgba(0,0,0,1);
    }    
}

/*Contenedor general*/
.cont {
    padding: 5em 0 10em 0;  
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/*Contenedor de info*/
.title {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: #a7ff83;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1em 0.5em 2em 0.5em;
}

.usr {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.usrtxt {
    text-align: center;
    color: white;
    font-size: x-large;
    width: 50%;
    border-top: 1px solid #333c5b;
    border-left: 1px solid #333c5b;
    border-right: 3px solid #333c5b;
    border-bottom: 1px solid #b3f6a4;
    background-color: #333c5b;
    box-shadow: rgba(0, 0, 0, 0.75) 0px -39px 17px -18px;
    margin-bottom: 3em;
    box-shadow: 0px 36px 13px -11px rgba(0,0,0,0.5);
}

.btnemail {
    width: 100%;
}

.btnemail button {
    width: 8.5em;
    background-color: #b3f6a4;
    color: black;
    border-radius: 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    text-align: center;
    height: 2em;
    display: block;
    border-width: 1px;
    margin-bottom: 2em;
}

.btnemail button:hover {
    border: 1px solid #222425;
    background-color: #222425;
    color: white;
}

.btnemail button:active {
    background-color: #222425;
    color: #222425;
}

.btncracta {
    width: 8.5em;
    border: 1px solid #b3f6a4;
    background-color: #333c5b;
    color: #b3f6a4;
    border-radius: 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    text-align: center;
    height: 2em;
    display: block;
    border-width: 1px;
    margin-bottom: 2em;
}

.btncracta:hover {
    background-color: #b3f6a4;
    color: black;
}

.btncracta:active {
    background-color: #b3f6a4;
    color: #b3f6a4;
}


/*Mensage de error*/
#mserr {
    color: red;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1em;
}



#msgtr {
    color: green;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1em;
}