php_flag display_errors on

#CROS options
Header always Set Access-Control-Allow-Origin "*"
Header always Set Access-Control-Allow-Methods "POST, PATCH, GET, OPTIONS, DELETE"
Header always Set Access-Control-Allow-Headers "Content-type, Authorization"

RewriteEngine On

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#Productos
RewriteRule ^producto$ Controllers/productoController.php [L]

RewriteRule ^producto/cont/([0-9]+)$ Controllers/productoController.php?cont=$1 [L]
RewriteRule ^producto/([0-9]+)$ Controllers/productoController.php?producto_id=$1 [L]
RewriteRule ^product/(.*)$ Controllers/productoController.php?product=$1 [L]
RewriteRule ^producto/search/(.*)/([0-9]+)$ Controllers/productoController.php?src=$1&conta=$2 [L]

RewriteRule ^producto/categoria/(.*)/([0-9]+)$ Controllers/productoController.php?categoria=$1&catcont=$2 [L]
RewriteRule ^producto/descuento/([0-9]+)$ Controllers/productoController.php?descuento=$1 [L]
RewriteRule ^producto/novedades/([0-9]+)$ Controllers/productoController.php?novedades=$1 [L]


#Usuarios
RewriteRule ^usuario$ Controllers/usuarioController.php [L]

#Categias
RewriteRule ^categorias$ Controllers/categoriasController.php [L]

#Compras
RewriteRule ^compraprd/([0-9]+)$ Controllers/compras_productosController.php?compraprd=$1 [L]
RewriteRule ^compr$ Controllers/comprasController.php [L]
RewriteRule ^compras/([0-9]+)$ Controllers/comprasController.php?compra=$1 [L]

#Compras_productos
RewriteRule ^comprd$ Controllers/compras_productosController.php [L]


#Sesiones
RewriteRule ^sesion$ Controllers/sesionController.php [L]
RewriteRule ^sesion/([0-9]+)$ Controllers/sesionController.php?id=$1 [L]