* {
    box-sizing: border-box;
}


@media(min-width : 0px){
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%}
    .col-s-12{width: 100%;}
}

@media(min-width : 768px){
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%}
    .col-m-12{width: 100%;}
}

[class *= "col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.srch {
    border-radius: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background: lightgray;
}

/*window margin*/
#so {
    margin: 0%;
}
















/*logo and search*/

#foto {
    background-image: url("https://picsum.photos/300/100"); 
    height: 4.6em;
    align-items: flex-end;
    position: relative;
}

.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	position: static;
}
	
.flexsearch--form {
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding-right: 4em;
}

.flexsearch--input {
  width: 100%;
}

.flexsearch--input {
	box-sizing: content-box;
 	height: 60px;
    padding: 0 46px 0 10px;
	border-color: #888;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
	font-size: 26px;
}
	
.flexsearch--submit {
    position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
    padding: 0;
    border: none;
	margin-top: 5px;
    margin-right: 5px;
	background: transparent;
    color: #888;
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    line-height: 60px;
}

.flexsearch--input:focus {
    border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
    color: #333;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}


.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}























 /*Menu*/
.header nav {
	background:#023859;
	z-index:1000;
    width:auto;
    margin: 0%;
    /*margin:20px auto;*/
    margin: 0%;
}
 
.header nav ul {
	list-style:none;
}
 
.header nav ul li {
	display:inline-block;
	position: relative;
}
 
.header nav ul li:hover {
	background:#E6344A;
}
 
.header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}
 
.header nav ul li a span {
	margin-right:10px;
}
 
.header nav ul li:hover .children {
	display:block;
}
 
.header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
    width: 150%;
    z-index: 1000;
}
 
.header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
.header nav ul li .children li a {
	display: block;
}
 
.header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
.header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 






































/*Product*/
.product {
    background-image: url("https://picsum.photos/300/600");
    height: 20em;
    align-items: flex-end;
}

#carshop {
    background-image: url("https://picsum.photos/300/600");
    height: 4em;
    align-items: flex-end;

    /*
    background-image: url("https://picsum.photos/300/100"); 
    height: 4.6em;
    align-items: flex-end;
    position: relative;
    */

}

.btwprod {
    padding-right: 4em;
    padding-left: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    
}

.ventbox div{
    height: 4em;
}




/*Product button*/
.btprod {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;

    text-align: center;
    padding-top: 15px;
    width: 100%;
    position: relative;

    background-color: #f2595e;
    border-color: #F69DA1;
    border-width: 3px;
    border-style: solid;
}

.btprod:hover {
    background-color:#000000;
}

.flxdiv {
    display: flex;
}




/*contact div*/
#contact{
    background-color: lightseagreen;

}

.bord div{
    border: solid black 1px;
}

