* {
    box-sizing: border-box;
}


@media(min-width : 0px){
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%}
    .col-s-12{width: 100%;}
}

@media(min-width : 768px){
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%}
    .col-m-12{width: 100%;}
}

[class *= "col-"] {
    float: left;
}

.srch {
    border-radius: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background: lightgray;
}

#so {
    margin: 0%;
}







 
.header {
    width: 100%;
}
 
.header nav {
	background:#023859;
	z-index:1000;
    width:100%;
    margin: 0%;
    /*margin:20px auto;*/
    margin: 0%;
}
 
.header nav ul {
	list-style:none;
}
 
.header nav ul li {
	display:inline-block;
	position: relative;
}
 
.header nav ul li:hover {
	background:#E6344A;
}
 
.header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}
 
.header nav ul li a span {
	margin-right:10px;
}
 
.header nav ul li:hover .children {
	display:block;
}
 
.header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
.header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
.header nav ul li .children li a {
	display: block;
}
 
.header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
.header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 





































#foto {
    background-image: url("https://picsum.photos/500/200");
    height: 4em;
    align-items: flex-end;
}

.product {
    background-image: url("https://picsum.photos/300/600");
    height: 20em;
    align-items: flex-end;
}

.btwprod {
    padding-right: 4em;
    padding-left: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    
}

.ventbox div{
    height: 4em;
}

.textprod {
    text-align: center;
    color: blueviolet;
}

#contact{
    background-color: lightseagreen;
    margin: 0%;
}

.bord div{
    border: solid black 1px;
}

