@media (min-width: 0px){

    .w-s-50{width: 90%;}
    .w-s-45{width: 90%;}

    .w-s-txt{width: 90%;}

    .contn-s {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}

@media (min-width: 768px){
    .w-m-50{width: 70%;}
    .w-m-45{width: 65%;}

    .w-m-txt{width: 30%;}

    .m-r{margin-right: 1em;}

    .contn {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}

.contn {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.about {
    background-color: #333c5b;
    border-radius: 0.5em;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,1);
}

.atxt {
    text-align: start;
    font-weight: bold;
    font-size: 3em;
    color: #a7ff83;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1em 0.5em 0em 0.5em;
}

.foto {
    margin-top: 2em;
    max-width: 100%;
    display: block;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,1);
}


.infp div {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-bottom: 1em;
}




.btnbox{
    height: 4em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.btncomprar {
    border-radius: 0.5em;
    padding-top: 0.4em;
    width: 80%;
    height: 2em;
    position: relative;
    text-align: center;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #b3f6a4; 
    color: black;
}

.btncomprar:hover {
    background-color: #333c5b;
    border: solid #b3f6a4 1px;
    color: #b3f6a4;
}

.btncomprar:active {
    background-color: #b3f6a4;
    color: #b3f6a4;
}

.btncarrito {
    border-radius: 0.5em;
    padding-top: 0.4em;
    width: 80%;
    height: 2em;
    position: relative;
    text-align: center;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: solid #b3f6a4 1px;
    color: #b3f6a4;
}

.btncarrito:hover {
    background-color: #b3f6a4; 
    color: black;
}

.btncarrito:active {
    background-color: #b3f6a4;
    color: #b3f6a4;
}