* { 
    box-sizing: border-box; 
}

body { 
    margin: 0;
    background-color: #111213;
}

@media (min-width: 0px){

    .errmsg-s {
        margin-top: 0.5em;
        margin-bottom: 2em;
    }
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}    
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%;}
    .col-s-12{width: 100%;}

    .w-s-car {
        top: 4em;
        width: 100%;
    }

    .dvprc-s{
        width: 96%;
    }

    .w-s-25 { width: 25%; }
    .w-s-50 { width: 50%; }
    .w-s-75 { width: 75%; }
    .w-s-100 { width: 100%; }

}

@media (min-width: 768px){
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{width: 100%;}

    /*Transparencia de menu*/
    .trans{
        position: -webkit-sticky;
        position: sticky;
        z-index:1002;
        top:0;
        left:0;
        width:100%;
        box-shadow:0px 4px 3px rgba(0,0,0,.5);
        opacity: 0.95;
    }

    .errmsg-m {
        margin-top: 5.5em;
        margin-bottom: 5.5em;
    }


    .w-m-car {
        top: initial;
        right: 0;
        width: 35%;
    }

    .dvprc-m{
        width: 98%;
    }

    .w-m-33 { width: 25%;}
    .w-m-25 { width: 25%; }
    .w-m-50 { width: 50%; }
    .w-m-75 { width: 75%; }
    .w-m-100 { width: 100%; }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] { float: left; }
[class*="flex-"] { display: flex; }


/*Contender titulo*/
.bar{
    background-color: #232526;
}

/*imagen de logo*/
.logo {
    padding: 0.5em;
}

.logo img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*barra y boton de busqueda*/
.srchinp {
    padding: 1.6em 0 0 1em;
    height: 6.75em;
}

.srchinp input{
    background-color: #2e3034;
    border: solid 1px #252526;
    color: #b3f6a4;
    border-radius: 0.8em 0 0 0.8em;
    padding: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    width: 100%;
    height: 2em;
    display: block;
}

.srchibtn {
    padding: 1.66em 1em 0 0;
    height: 6.76em;
}

.srchibtna {
    background-color: #2a2b2e;
    color: white;
    border-radius: 0 0.8em 0.8em 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    padding-top: 0.4em;
    text-align: center;
    height: 2em;
    display: block;
    border-width: 1px;
}

.srchibtna:hover {
    background-color: #b3f6a4; 
    color: black;
}

.srchibtna:active {
    background-color: #b3f6a4;
    color: #b3f6a4;
}

/*Menu*/
.mnbtn {
    position: relative;
    width: 100%;
    border: 0;
    padding: 1em 0em 1em 0em;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2e3034;
    color: white;
    border: rgb(155, 153, 153);
}

.mnbtn img {
    max-width: 100%;
    height: 3.30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mnbtn:hover {
    background-color: #b3f6a4; 
    color: black;
}

.mnbtn:active {
    background-color: #b3f6a4;
    color: #b3f6a4;
}




/*Carrito de compras*/
.car {
    position: fixed;
    float: right;
    
    z-index:1000;
    
    background-color: #2e3034;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
    
}

.scrll {
    height: 30em;
    margin-bottom: 2em;
    overflow-y: scroll;
}

.scrll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #232526;
}

.scrll::-webkit-scrollbar
{
	width: 12px;
	background-color: #2e3034;
}

.scrll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a7ff83;
}





.tit {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: #a7ff83;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.5em;
}

.box {
    margin: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    
    /* box-shadow:0px 4px 3px rgba(0,0,0,.5); */
        
    font-size: 1.2em;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.xm {
    background-color: #2e3034;
    border: solid 1px #2e3034;
    margin-top: 0.5em;
    text-align: center;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}



.x {
    background-color: #2e3034;
    border: solid 1px #2e3034;
    color: #a7ff83;
    font-size: 1.5em;
    
    text-align: center;
}

.bt { border-top: 1px solid lightgray; }

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*Pagar total*/
.DivPrice {
    position: absolute;
    bottom: 0;
    background-color: #2e3034;

    border-radius: 0 0 0.5em 0.5em;
    
}

.CarPrice {
    text-align: center;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 2em;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btnpag{
    border-radius: 0.5em;
    border: #2e3034 solid 1px;
    height: 2em;
    position: relative;
    text-align: center;
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.5em;
    background-color: #b3f6a4; 
    color: black;
}

.btnpag:hover {
    background-color: #2e3034;
    border: solid #b3f6a4 1px;
    color: #b3f6a4;
}

.btnpag:active {
    background-color: #b3f6a4;
    color: #b3f6a4;
}





/*error message*/

.errmsg {
    color: #b3f6a4;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}








/*Paginacion*/
.pgn {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: 2em;
}

.pgna {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #333c5b;
    color: white;
    font-size: 0.8em;
    margin: 0.5em;
    padding: 0.5em;
}

.asel {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #b3f6a4;
    color: white;
    font-size: 0.8em;
    margin: 0.5em;
    padding: 0.5em;
}


































/*pie de pagina*/
.pie {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #242627;
    bottom: 0;
}

.pied{
    padding: 1.3em 0em 1em 0em;
    text-align: center;
    color: white;
}

/*Redes sociales*/
.redes {
    padding: 1em 0em 1em 0em;
    text-align: center;
    color: white;
    text-align: center;
}

.vlvarriba {
    position: relative;
    width: 100%;
    border: 0;
    padding: 1.3em 0em 1em 0em;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #ce9178;
}

.vlvarriba:hover {
    color: black;
    background-color: #ce9178;
}

.vlvarriba:active {
    color: #ce9178;
    background-color: #ce9178;
}

.bxscl {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.scl {
    margin: 0em;
    max-width: 100%;
    display: block;
}

.scl:hover {
    box-shadow: #333333 0px 0px 9px 5px;
}




/**/
.btn {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}




/*Boton atas*/
.btnatras {
    border-radius: 0.5em;
    padding-top: 0.3em;
    width: 50%;
    height: 3em;
    position: relative;
    text-align: center;
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #b3f6a4; 
    color: black;
}

.btnatras:hover {
    background-color: #111213;
    border: solid #b3f6a4 1px;
    color: #b3f6a4;
}

.btnatras:active {
    background-color: #b3f6a4;
    color: #b3f6a4;
}