/*Buttons*/

.intext {
    border: 1px solid rgb(30, 226, 4);
    border-radius: 10px;
    background-color: #e5ebee;;
    text-align: center;
}

.button {
    text-decoration: none;
    text-align: center;
    width: 100%;
    border-width: 3px;
    border-style: solid;
}

/*Div flex*/
.flxdiv {
    display: flex;
}
