/*Buttons*/

<<<<<<< HEAD
.intext {
    border: 1px solid lightslategray;
    border-radius: 30px;
    background-color: #181a1b;;
    text-align: center;
}

.button {
    text-decoration: none;
    text-align: center;
    width: 100%;
    border-width: 3px;
    border-style: solid;
}

/*Div flex*/
.flxdiv {
    display: flex;
}
=======
.button {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    position: relative;
    border-width: 3px;
    border-style: solid;
}
>>>>>>> 85924049e9c293ade1e2aae42e59301e219e8d38
